/*menu*/
.wrapper .menu_w {
	height: auto;
	background: #43609c;
	}
	
#menu, #menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu {
	width: 100%;
	max-width:1175px;
	margin: 0 auto;
}

#menu:before,
#menu:after {
	content: "";
	display: table;
}

#menu:after {
	clear: both;
}

#menu {
	zoom:1;
}

#menu li {
	float: left;
	border-right: 1px solid #E5E5E5;
	position: relative;
}

#menu a {
	float: left;
	padding: 7px 7px;
	color: #FFFFFF;
	font: bold 13px Arial, Helvetica;
	text-decoration: none;
}

#menu li:hover > a {
	color: #0a873f;
	background: #FFFFFF;
}

*html #menu li a:hover { /* IE6 only */
	color: #0a873f;
	background: #FFFFFF;
}

#menu ul {
	margin: 20px 0 0 0;
	_margin: 0; /*IE6 only*/
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 36px;
	left: 0;
	z-index: 1;    
	border: 1px solid #E5E5E5;
	background-color: #FCFCFC;
	transition: all .2s ease-in-out;  
}

#menu li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
	
}

#menu ul ul {
	top: 0;
	left: 150px;
	margin: 0 0 0 20px;
	_margin: 0; /*IE6 only*/	
}

#menu ul li {
	float: none;
	display: block;
	border: 0;
	_line-height: 0; /*IE6 only*/
}
#menu ul li:last-child {   
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;    
}

#menu ul a {    
	padding: 5px 10px;
	width: 130px;
	_height: 10px; /*IE6 only*/
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
	border-bottom: 1px solid #E5E5E5;
	background: #009900;
}

#menu ul a:hover {
	background-color: #FFFFFF;
}
#menu ul li:first-child > a:after {
	content: '';
	position: absolute;
	left: 40px;
	top: -6px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 5px solid #444;
}

#menu ul ul li:first-child a:after {
	left: -6px;
	top: 50%;
	margin-top: -6px;
	border-left: 0;	
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
	border-right: 6px solid #3b3b3b;
}

#menu ul li:first-child a:hover:after {
	border-bottom-color: #04acec; 
}

#menu ul ul li:first-child a:hover:after {
	border-right-color: #0299d3; 
	border-bottom-color: transparent; 	
}

#menu ul li:last-child > a {
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

/* Mobile */
#menu-trigger {
	display: none;
}

@media screen and (max-width: 600px) {

	/* nav-wrap */
	#menu-wrap {
		position: relative;
		z-index: 99999;
	}

	#menu-wrap * {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	/* menu icon */
	#menu-trigger {
		display: block; /* show menu icon */
		height: 40px;
		line-height: 40px;
		cursor: pointer;		
		padding: 0 0 0 35px;
		border: 1px solid #E5E5E5;
		color: #FFFFFF;
		font-weight: bold;
		background-color: #FCFCFC;
		background: url(../img/mr_bg.html) no-repeat 10px center;
		margin: 5px 0 5px 0;
	}
	
	/* main nav */
	#menu {
		margin: 0; padding: 10px;
		position: absolute;
		top: 40px;
		width: 100%;
		z-index: 1;
		background-color: #FCFCFC;
		display: none;
		box-shadow: none;		
	}

	#menu:after {
		content: '';
		position: absolute;
		left: 25px;
		top: -8px;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #444;
	}	

	#menu ul {
		position: static;
		visibility: visible;
		opacity: 1;
		margin: 0;
		background: none;
		box-shadow: none;				
	}

	#menu ul ul {
		margin: 0 0 0 20px !important;
		box-shadow: none;		
	}

	#menu li {
		position: static;
		display: block;
		float: none;
		border-bottom: 1px solid #E5E5E5;
		margin: 5px;
		box-shadow: none;
		border-right: none;		
	}

	#menu ul li{
		margin-left: 20px;
		box-shadow: none;
		
	}

	#menu a{
		display: block;
		float: none;
		padding: 0;
		color: #121212;
	}

	#menu a:hover{
		color: #fafafa;
	}	

	#menu ul a{
		padding: 0;
		width: auto;		
	}

	#menu ul a:hover{
		background: none;	
	}

	#menu ul li:first-child a:after,
	#menu ul ul li:first-child a:after {
		border: 0;
	}		

}

@media screen and (min-width: 600px) {
	#menu {
		display: block !important;
	}
}	

/* iPad */
.no-transition {
	transition: none;
	opacity: 1;
	visibility: visible;
	display: none;  		
}

#menu li:hover > .no-transition {
	display: block;
}