/*
    ==========================
    for mobile device
    ==========================
*/
@media (min-width: 320px) and (max-width: 575px){
    .wrapper{
        width: 280px;
    }
    .logo-area{
        display: block;
    }
    .siteLogo{
        flex: 100%;
    }
    .top-ads{
        flex: 100%;
        margin-top:0;
        margin-left: 0;
    }
    .post-box {
        -ms-grid-columns: auto 10px;
        grid-template-columns: auto ;
        justify-content: center;
    }
    .two-column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .post-box-tow-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        align-items: center;
    }
    .single-post-con{
        display: flex;
        flex-direction: column;
    }
    .meta-area{
        flex: 100%;
        margin: 0 20px 30px 0;
    }
    .content-area{
        flex: 100%;
    }
    .two .post-box-tow-items{
        grid-template-columns: auto;
        justify-content: center;
    }
}


/*
    ==========================
    for small device
    ==========================
*/
@media (min-width: 576px) and (max-width: 767px){
    .wrapper{
        width: 560px;
    }
    .logo-area{
        display: block;
    }
    .siteLogo{
        flex: 100%;
    }
    .top-ads{
        flex: 100%;
        margin:10px 0;
    }
    .post-box {
        -ms-grid-columns: auto 10px auto 10px;
        grid-template-columns: auto auto ;
        justify-content: space-around;
    }
    .two-column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .post-box-tow-items {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: auto 10px auto 10px auto;
        grid-template-columns: auto auto auto;
        grid-gap: 0;
        justify-content: space-around;
    }
}

/*
    ==========================
    for medium device
    ==========================
*/
@media (min-width: 768px) and (max-width: 991px){
    .wrapper{
        width: 720px;
    }
    .post-box {
        -ms-grid-columns: auto 10px auto 10px auto 10px;
        grid-template-columns: auto auto auto;
    }
    .two-column {
        grid-template-columns: auto;
    }
    .two .post-box-tow-items {
        grid-template-columns: auto auto auto;
    }
}

/*
    ==========================
    for large device
    ==========================
*/

@media (min-width: 992px) and (max-width: 1199px){
    .wrapper{
        width: 980px;
    }
    .post-box {
        -ms-grid-columns: auto 10px auto 10px auto 10px auto 10px;
        grid-template-columns: auto auto auto auto ;

    }
    .post-box-two .container {
        padding: 0;
    }
}
