/*
    Theme Name: ALL IT BD Media
    Theme URI: https://www.facebook.com/prince.rakib.5030
    Author Name: Rakib Khan
    Author URI: https://www.facebook.com/prince.rakib.5030
    Description: the best media directory theme in the world.
    Tags: directory, media, link, site..
    Text-Domain: allmediasite
    If you want to make a media directory website, You can fill free asked me.
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
body{
    background: url(img/bg.png);font-family:"Helvetica Neue",Helvetica,Arial,sans-serif,Roboto;
    font-size: 14px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}
.header-area {
    padding: 10px 0;
}
.wrapper{
    width: 1100px;
    margin: 0 auto;
    background: white;
}
.logo-area{
    display: flex;
}
.siteLogo{
    flex: 50%;
}
.siteLogo a{
    display: inline-block;
    width: 100%;
    height: 120px;
    padding: 0 0 10px 0;
}
.siteLogo a img{
    width: 100%;
    height: 120px;
}
.top-ads{
    flex: 60%;
    margin-left:20px;
}
.top-ads img{
    width: 100%;
    height: 120px;
}
/* navigation */





/* Display the dropdown */




/* container */
.post-img-box{
    display: inline-block;
    border: 2px solid #0c1923;
    width: 100%;
}
.container{
    padding: 10px 20px;
}

.section-title{
    background: #1f4361;
    overflow: hidden;
}
.section-title h2{
    padding: 10px 20px;
    color: #fff;
    font-weight: 500;
    margin: 0 0 0 0;
    display: inline-block;
    float: left;
}
.section-title a {
    padding: 10px 20px;
    color: #ffffff;
    font-weight: 100;
    display: inline-block;
    float: right;
    font-size: 21px;
    background: #da0000;
    text-decoration: none;
}
.post-box{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 0 auto 0 auto 0 auto 0 auto;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
    grid-gap: 10px;
}

.post {
    text-align: center;
    margin: 0 0 0 0;
    padding: 0;
}
.post h4 {
    margin: 5px 0 0 0;
    font-size: 20px;
}
.post img {
    width: 100%;
    height: 50px;
}
.post a{
    color: #FF8D54;
}
.post a i{
    font-size: 15px;
    font-weight: 100;
    visibility: hidden;
    -webkit-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}

/* tow column */
.two-column{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 20px auto;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
}
.post-box-two-title{
    background: #1F4361;
    overflow: hidden;
}
.post-box-two-title h2 {
    padding: 10px 20px;
    color: #fff;
    font-weight: 500;
    margin: 0 0 0 0;
    display: inline-block;
    float: left;
}
.post-box-two-title a {
    padding: 10px 20px;
    color: #fff;
    font-weight: 100;
    margin: 0 0 0 0;
    display: inline-block;
    float: right;
    font-size: 21px;
    background: #da0000;
    text-decoration: none;
}
.post-box-tow-items{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 10px auto 10px auto;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    justify-content: space-between;
}
.two .post-box-tow-items{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 10px auto;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    justify-content: space-between;
}

.post-box-tow-item{
    text-align: center;
    margin: 10px 0 0 0;
}
.post-box-tow-item img{
    width: 100%;
    height: 50px;
}
.post-box-tow-item h4{
    margin: 5px 0 0 0;
    font-size: 20px;
}
.post-box-tow-item a{
    color: #FF8D54;
}
.post-box-tow-item a i{
    font-size: 15px;
    font-weight: 100;
    visibility: hidden;
    -webkit-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}
.post-box-tow-item a:hover i{
    visibility: visible;
    padding-left: 5px;
}
.post-box-tow-item:hover{
    border: 1px dotted red;
    background: #FFF8E7;
    transition: all .3s ease-in-out;
}

/* footer */

.footer-area{
    background: #008000;
}
.footer-content{
    text-align: center;
    color: #fff;
    padding: 0;
    margin: 0;
}
.footer-content a{
    color: #fff;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/*single php*/
.single-post-con{
    display: flex;
    flex-direction: row;
}
.meta-area{
    flex: 40%;
    margin: 0 20px 30px 0;
}
.content-area{
    flex: 60%;
}
.meta-area-headline {
    background: #1F4361;
    padding: 10px;
    margin: 20px 0;
}
.meta-area-headline a h2 {
    padding: 0;
    margin: 0;
}
.meta-area-headline a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
.meta-area-post {
    text-align: center;
}

.meta-area-post img {
    width: 100%;
    height: auto;
}

.meta-area-post h4 {
    margin: 4px;
    font-size: 31px;
}

/*archive page css*/
.archive-sec{
    display: flex;
    margin-bottom: 10px;
}
.archive-left{
    flex: 80%;
    border: 1px solid #4444cc;
    height: 500px;
}
.archive-right{
    flex: 20%;
    margin-left: 20px;
    border: 1px solid #4444cc;
    height: 500px;
}

.news_logo_area {
    float: left;
    width: 184px;
    height: auto;
    padding: 0;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    position: relative;
}
.news_logo_area:hover {
    border: 1px dotted #FF0000;
    background: #FFF8E7;
}
.news_logo_area img {
    width: 180px;
    height: 35px;
    border: 2px solid #000000;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ie-border-radius: 3px;
    -ms-border-radius: 3px;
}
.news_logo_area h4 {
    font-size: 16px;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 0;
}
.news_logo_area h4 a {
    color: #003399;
}
.news_logo_area h6 {
    font-size: 12px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    color: #333333;
}
.news_logo_area h6 a {
    color: #CC3300;
    text-decoration: underline;
}
.news_logo_area h6 a:hover {
    text-decoration: none;
    color: #00CC00;
}

